#!/bin/bash

{% if item.flush %}
iptables -F
{% endif %}

iptables -A INPUT -i lo -j ACCEPT
iptables -A OUPUT -o lo -j ACCEPT

{% if item.default_input is defined %}
iptables -P INPUT {{ item.default_input }}
{% endif %}
{% if item.default_output is defined %}
iptables -P OUTPUT {{ item.default_output }}
{% endif %}
{% if item.default_forward is defined %}
iptables -P FORWARD {{ item.default_forward }}
{% endif %}

{% if item.ip6 is defined and item.ip6 %}
ip6tables -A INPUT -i {{ item.default_output_iface }} -p ipv6-icmp -j ACCEPT
{% endif %}

{% if item.allow_established_connections is defined and item.allow_established_connections %}
iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% if item.ip6 is defined and item.ip6 %}
ip6tables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
ip6tables -A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% endif %}
{% endif %}

{% for rule in item.rules %}
iptables -A {{ rule.chain }} \
  {% if rule.input_interface is defined %} -i {{ rule.input_interface }}{% endif %} \
  {% if rule.output_interface is defined %} -o {{ rule.output_interface }}{% endif %} \
  {% if rule.proto is defined %} -p {{ rule.proto }}{% endif %} \
  {% if rule.dport is defined %} --dport {{ rule.dport }}{% endif %} \
  -j {{ rule.action|upper }}

{% if item.ip6 is defined and item.ip6 %}
ip6tables -A {{ rule.chain }} \
  {% if rule.input_interface is defined %} -i {{ rule.input_interface }}{% endif %} \
  {% if rule.output_interface is defined %} -o {{ rule.output_interface }}{% endif %} \
  {% if rule.proto is defined %} -p {{ rule.proto }}{% endif %} \
  {% if rule.dport is defined %} --dport {{ rule.dport }}{% endif %} \
  -j {{ rule.action|upper }}
{% endif %}
{% endfor %}

{% if item.restart_docker is defined and item.restart_docker %}
systemctl restart docker
{% endif %}

{% if item.restart_wireguard is defined and item.restart_wireguard %}
wg_interfaces=$(ifconfig | grep -oh "wg[0-9]")
for wg_interface in $wg_interfaces
do
  wg-quick down $wg_interface
  wg-quick up $wg_interface
done
{% endif %}

{% if item.save_persistent is defined and item.save_persistent %}
iptables-save > /etc/iptables/rules.v4
{% if item.ip6 is defined and item.ip6 %}
ip6tables-save > /etc/iptables/rules.v6
{% endif %}
{% endif %}
